<h1> Login! </h1>
<div class="container">

    <div class="alert alert-warning"  *ngIf='invalidLogin'> {{errorMessage}} </div>
    <div>
        User Name : <input type="text" [(ngModel)]="username" name="username" >  
        Password  : <input type="password" name="password" [(ngModel)]="password">
        <!-- Entered user Name = {{username}} -->
        
       <!--  <button (click)=handleLogin() class="btn btn-success">Login</button> -->
        <!-- <button (click)=handleBasicAuthLogin() class="btn btn-success">Login</button> -->
        <button (click)=handleJwtBasicAuthLogin() class="btn btn-success">Login</button>
        
    </div>
    
</div>
